In [54]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv(r"C:\Users\yuya.niizuma\mb-image_analysis\241001_analysis\2409_mb.csv")
df_spec = pd.read_csv(r"C:\Users\yuya.niizuma\mb-image_analysis\241001_analysis\MB_spec.csv")
df.head()

,mirrorbase_in_time の秒,glassid_lp,glassid_lf,model_name_mbrs,mirrorbase_in_time の年、月、日,glass_type(1:outer 2:inner 3:pair),manual_mb_flag,matching_id,mb_count,mb_flag,...,mb_rs_insp_result,mb_sheet_count,mb_stacker(1:a 2:b 3:c),mb_tool_no,mb_torq_insp_result(1:ok 2:ng 9:nouse),mb_torque_after_calib_count,mb_torque_calib_id,mb_vision_search_c,mb_vision_search_x,mb_vision_search_y
0,2024/09/01 0:00:25,1725148473690,1725147632640,TV45KD 3F2AL,2024年9月1日,1,0.0,148,4.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,153.0,960.0,-10.0,532.0,2673.0
1,2024/09/01 0:00:25,1725148473690,1725147611200,TV45KD 3F2AL,2024年9月1日,2,0.0,148,4.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,153.0,960.0,-10.0,532.0,2673.0
2,2024/09/01 0:00:42,1725148487370,1725147647120,TV45KD 3F2AL,2024年9月1日,1,0.0,149,5.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,152.0,960.0,-10.0,515.0,2699.0
3,2024/09/01 0:00:42,1725148487370,1725147625120,TV45KD 3F2AL,2024年9月1日,2,0.0,149,5.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,152.0,960.0,-10.0,515.0,2699.0
4,2024/09/01 0:00:57,1725148511770,1725147661520,TV45KD 3F2AL,2024年9月1日,1,0.0,150,6.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,151.0,960.0,-9.0,527.0,2702.0

In [56]:
df_spec.head()

,model_name_no,model_name_mbrs,Film_type,x1_tolerance,x2_tolerance,x_tolerance_upper,y1_tolerance,y2_tolerance,y_tolerance_upper,TL0_tolerance,TL0_tolerance_upper,MB_model_name
0,11,NX1MMDA_4FSEL,D,78.9,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
1,11,NX1MUA_4FQEL,F,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
2,11,NX1MUA_4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
3,11,NX1MWDA_4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
4,11,NX1MGPA_4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W

In [57]:
df.columns

Index(['mirrorbase_in_time の秒', 'glassid_lp', 'glassid_lf', 'model_name_mbrs',
       'mirrorbase_in_time の年、月、日', 'glass_type(1:outer 2:inner 3:pair)',
       'manual_mb_flag', 'matching_id', 'mb_count', 'mb_flag', 'mb_glass_temp',
       'mb_insp_id', 'mb_insp_result(bit)', 'mb_insp_torque',
       'mb_insp_torque_check_angle', 'mb_ld_vison_c_pos', 'mb_ld_vison_score',
       'mb_ld_vison_x_pos', 'mb_ld_vison_y_pos', 'mb_load_force',
       'mb_load_stage', 'mb_manual_loading_flag', 'mb_model_no',
       'mb_pos_insp1_c (カスタム SQL クエリ)', 'mb_pos_insp1_x (カスタム SQL クエリ)',
       'mb_pos_insp1_y (カスタム SQL クエリ)', 'mb_pos_insp2_x1 (カスタム SQL クエリ)',
       'mb_pos_insp2_x2 (カスタム SQL クエリ)', 'mb_pos_insp2_y1 (カスタム SQL クエリ)',
       'mb_pos_insp2_y2 (カスタム SQL クエリ)',
       'mb_pos_insp_result(1:ok 2:ng 9:nouse)', 'mb_push_force',
       'mb_put_vison_c_pos', 'mb_put_vison_x_pos', 'mb_put_vison_y_pos',
       'mb_rs_insp_result', 'mb_sheet_count', 'mb_stacker(1:a 2:b 3:c)',
       'mb_tool_no', 'mb_torq_insp_result(1:ok 2:ng 9:nouse)',
       'mb_torque_after_calib_count', 'mb_torque_calib_id',
       'mb_vision_search_c', 'mb_vision_search_x', 'mb_vision_search_y'],
      dtype='object')

In [58]:
df = df[df["glass_type(1:outer 2:inner 3:pair)"] == 1]
df = df.reset_index(drop=True)
df = df.rename(
    columns={
        "mirrorbase_in_time の秒": "mirrorbase_in_time",
        "mirrorbase_in_time の年、月、日": "mirrorbase_in_time_YYMMDD",
        "mb_pos_insp1_c (カスタム SQL クエリ)": "mb_pos_insp1_c",
        "mb_pos_insp1_x (カスタム SQL クエリ)": "mb_pos_insp1_x",
        "mb_pos_insp1_y (カスタム SQL クエリ)": "mb_pos_insp1_y",
        "mb_pos_insp2_x1 (カスタム SQL クエリ)": "mb_pos_insp2_x1",
        "mb_pos_insp2_x2 (カスタム SQL クエリ)": "mb_pos_insp2_x2",
        "mb_pos_insp2_y1 (カスタム SQL クエリ)": "mb_pos_insp2_y1",
        "mb_pos_insp2_y2 (カスタム SQL クエリ)": "mb_pos_insp2_y2",
    }
)
df['mb_pos_insp2_x1'] = df['mb_pos_insp2_x1'] / 100
df['mb_pos_insp2_x2'] = df['mb_pos_insp2_x2'] / 100
df['mb_pos_insp2_y1'] = df['mb_pos_insp2_y1'] / 100
df['mb_pos_insp2_y2'] = df['mb_pos_insp2_y2'] / 100

df["model_name_mbrs"] = df["model_name_mbrs"].str.replace(' ', '').str.strip()

# ここで自動貼付け以外は除去しているので後々注意
df = df[(df['mb_sheet_count'] != 0) & (df['mb_sheet_count'].notna())].reset_index(drop=True)

df.head()

,mirrorbase_in_time,glassid_lp,glassid_lf,model_name_mbrs,mirrorbase_in_time_YYMMDD,glass_type(1:outer 2:inner 3:pair),manual_mb_flag,matching_id,mb_count,mb_flag,...,mb_rs_insp_result,mb_sheet_count,mb_stacker(1:a 2:b 3:c),mb_tool_no,mb_torq_insp_result(1:ok 2:ng 9:nouse),mb_torque_after_calib_count,mb_torque_calib_id,mb_vision_search_c,mb_vision_search_x,mb_vision_search_y
0,2024/09/01 0:00:25,1725148473690,1725147632640,TV45KD3F2AL,2024年9月1日,1,0.0,148,4.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,153.0,960.0,-10.0,532.0,2673.0
1,2024/09/01 0:00:42,1725148487370,1725147647120,TV45KD3F2AL,2024年9月1日,1,0.0,149,5.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,152.0,960.0,-10.0,515.0,2699.0
2,2024/09/01 0:00:57,1725148511770,1725147661520,TV45KD3F2AL,2024年9月1日,1,0.0,150,6.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,151.0,960.0,-9.0,527.0,2702.0
3,2024/09/01 0:01:10,1725148528170,1725148136000,TV45KD3F2AL,2024年9月1日,1,0.0,-2,7.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,150.0,960.0,-12.0,521.0,2707.0
4,2024/09/01 0:01:24,1725148541930,1725147690400,TV45KD3F2AL,2024年9月1日,1,0.0,152,8.0,126.0,...,-30203.0,10.0,2.0,1.0,1.0,149.0,960.0,-12.0,531.0,2681.0

In [59]:
df_spec["model_name_mbrs"] = df_spec["model_name_mbrs"].str.replace('_', '').str.strip()
df_spec.head()

,model_name_no,model_name_mbrs,Film_type,x1_tolerance,x2_tolerance,x_tolerance_upper,y1_tolerance,y2_tolerance,y_tolerance_upper,TL0_tolerance,TL0_tolerance_upper,MB_model_name
0,11,NX1MMDA4FSEL,D,78.9,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
1,11,NX1MUA4FQEL,F,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
2,11,NX1MUA4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
3,11,NX1MWDA4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W
4,11,NX1MGPA4FSEL,D,144.4,NaN,1.5,124.2,NaN,1.5,NaN,NaN,517W

In [60]:
df = df.merge(df_spec, how="left", on=["model_name_mbrs"])
df = df.drop("mirrorbase_in_time_YYMMDD", axis=1)
df = df[(df['MB_model_name'] != 0) & (df['MB_model_name'].notna())].reset_index(drop=True)

In [61]:
labels_x = [-999,1,2,3,4,5,'',6,7,8,9,10,999]
labels_y = [-999,8,7,6,5,'',4,3,2,1,999]
labels_model = ['NX10','TV40','EJ2','DG5','JU10','JU20','UX10','YU20','BJ50','ZJ40','T33','BJ60','DA9','RZ10','ZJ4','others']
df['MB_sheet_column'] = pd.Categorical(np.empty(len(df)), categories=labels_x, ordered=True)
df['MB_sheet_row'] = pd.Categorical(np.empty(len(df)), categories=labels_y, ordered=True)
df['model_name_parent'] = pd.Categorical(np.empty(len(df)), categories=labels_model, ordered=True)

for i, row in df.iterrows():
    if row["MB_model_name"] in ["517W", "MR306799", "NHA", "U3A"]:
        bins_X = [-9999, -2900, -2500, -2100, -1700, -1300, -900, 900, 1300,1700,2100,2400,2800,9999]
        bins_Y = [-9999, -1400, -1050, -750, -400, -100, 20, 300, 600, 900, 1200, 9999]
        labels_X = [-999,1,2,3,4,5,'',6,7,8,9,10,999]
        labels_Y = [-999,8,7,6,5,'',4,3,2,1,999]


    elif row["MB_model_name"] in ["BFSB_A"]:
        bins_X = [-9999, -2800, -2400, -2000, -1500, -1000, 1000, 1400,1800,2200, 2700,9999]
        bins_Y = [-9999, -1250, -1000, -500, -100, 50, 300, 750,1200,9999]
        labels_X = [-999,1,2,3,4,'',5,6,7,8,999]
        labels_Y = [-999,6,5,4,'',3,2,1,999]


    elif row["MB_model_name"] in ["TL0"]:
        bins_X = [-9999, -2600, -2200, -1700, -1200, 1100, 1500,2100,2600,9999]
        bins_Y = [-9999, -1400, -1000, -600, -250, -10, 250, 500, 900, 1250, 9999]
        labels_X = [-999,1,2,3,'',4,5,6,999]
        labels_Y = [-999,7,6,5,4,'',3,2,1,999]


    elif row["MB_model_name"] in ["474W"]:
        bins_X = [-9999, -2500, -2000, -1300, 1200, 1800, 2500, 9999]
        bins_Y = [-9999, -1500, -1100, -750, -400, -100, 20, 250, 600, 1000, 1300, 9999]
        labels_X = [-999,1,2,'',3,4,999]
        labels_Y = [-999,8,7,6,5,'',4,3,2,1,999]


    df.at[i, 'MB_sheet_column'] = pd.cut(np.array([row['mb_ld_vison_x_pos']]), bins=bins_X, labels=labels_X)
    df.at[i, 'MB_sheet_row'] = pd.cut(np.array([row['mb_ld_vison_y_pos']]), bins=bins_Y, labels=labels_Y)

    model_name_mbrs = row['model_name_mbrs']

    # 'model_name_mbrs'に含まれる文字に応じて処理を行う
    if 'NX2' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'NX20'
    elif 'NX' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'NX10'
    elif 'BJ5' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'BJ50'
    elif 'BJ6' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'BJ60'
    elif 'JU1' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'JU10'
    elif 'JU2' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'JU20'
    elif 'RZ1' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'RZ10'
    elif 'TV4' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'TV40'
    elif 'UX1' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'UX10'
    elif 'YU2' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'YU20'
    elif 'ZJ4' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'ZJ4'
    elif 'T33' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'T33'
    elif 'DA9' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'DA9'
    elif 'EJ2' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'EJ2'
    elif 'DG5' in model_name_mbrs:
        df.at[i, 'model_name_parent'] = 'DG5'
    else:
        df.at[i, 'model_name_parent'] = 'Other'

In [62]:
df['combined_model_name'] = df['model_name_mbrs'] + '_' + df['MB_model_name']
df['glass_mb'] = df['model_name_parent'].astype(str) + '_' + df['MB_model_name']

valid_rows = df[['x1_tolerance', 'x2_tolerance', 'y1_tolerance', 'y2_tolerance']].notnull().all(axis=1)
df.loc[valid_rows, 'glass_mb_tolerance'] = df.loc[valid_rows, 'model_name_parent'].astype(str) + '_' + df.loc[valid_rows, 'MB_model_name'] + '_' + df.loc[valid_rows, 'x1_tolerance'].astype(str) + '_' + df.loc[valid_rows, 'x2_tolerance'].astype(str) + '_' + df.loc[valid_rows, 'y1_tolerance'].astype(str) + '_' + df.loc[valid_rows, 'y2_tolerance'].astype(str)
# df['glass_mb_tolerance'] = df['model_name_parent'].astype(str) + '_' + df['MB_model_name'] + '_' + df['x1_tolerance'].astype(str) + '_' + df['x2_tolerance'].astype(str) + '_' + df['y1_tolerance'].astype(str) + '_' + df['y2_tolerance'].astype(str)

df['MB_sheet_position'] = df['MB_sheet_column'].astype(str) + '_' + df['MB_sheet_row'].astype(str)


# 'mb_sheet_count'と'combined_model_name'の値が前後で変化する箇所を判別し、グループIDを割り当てる
# df['group_id'] = (df['mb_sheet_count'] != df['mb_sheet_count'].shift()) | (df['combined_model_name'] != df['combined_model_name'].shift())
df['group_id'] = (df['mb_sheet_count'] != df['mb_sheet_count'].shift()) | (df['glass_mb'] != df['glass_mb'].shift())
df['group_id'] = df['group_id'].cumsum()

df['voyage_id'] = (df['glass_mb'] != df['glass_mb'].shift())
df['voyage_id'] = df['voyage_id'].cumsum()

# グループごとに固有のIDを割り当てる
# df['unique_id'] = df.groupby('group_id').cumcount() + 1

In [63]:
df.to_csv("df.csv")

In [64]:
counts = df['glass_mb_tolerance'].value_counts()
counts.to_csv('output.csv')

In [65]:
# diff_x_within_3 = np.abs(df['mb_pos_insp2_x1'] - df['mb_pos_insp2_x2']) <= 3
# diff_y_within_3 = np.abs(df['mb_pos_insp2_y1'] - df['mb_pos_insp2_y2']) <= 3
# df_filtered = df[diff_x_within_3 & diff_y_within_3].copy()

# "combined_model_name"および"group_id"ごとに"mb_pos_insp2_y1"の標準偏差を計算
std_deviation_x1 = df.groupby(['glass_mb_tolerance', 'group_id'])['mb_pos_insp2_x1'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
std_deviation_x2 = df.groupby(['glass_mb_tolerance', 'group_id'])['mb_pos_insp2_x2'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
std_deviation_y1 = df.groupby(['glass_mb_tolerance', 'group_id'])['mb_pos_insp2_y1'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
std_deviation_y2 = df.groupby(['glass_mb_tolerance', 'group_id'])['mb_pos_insp2_y2'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())

mean_std_deviation_x1 = std_deviation_x1.groupby('glass_mb_tolerance').mean()
mean_std_deviation_x2 = std_deviation_x2.groupby('glass_mb_tolerance').mean()
mean_std_deviation_y1 = std_deviation_y1.groupby('glass_mb_tolerance').mean()
mean_std_deviation_y2 = std_deviation_y2.groupby('glass_mb_tolerance').mean()

df_row_count = df.groupby('glass_mb_tolerance').size().reset_index(name='row_count')
df_unique_voyage_count = df.groupby('glass_mb_tolerance')['voyage_id'].nunique().reset_index(name='unique_voyage_count')

df_dev = pd.DataFrame({'mean_std_deviation_x1': mean_std_deviation_x1,'mean_std_deviation_x2': mean_std_deviation_x2,'mean_std_deviation_y1': mean_std_deviation_y1,'mean_std_deviation_y2': mean_std_deviation_y2})
df_dev = pd.merge(df_dev, df_row_count, on='glass_mb_tolerance')
df_dev = pd.merge(df_dev, df_unique_voyage_count, on='glass_mb_tolerance')
df_dev.reset_index(inplace=True)

# df_filtered.to_csv('df_filtered.csv')
df_dev.to_csv('std_deviation_xy.csv')

In [66]:
# # "combined_model_name"および"group_id"ごとに"mb_pos_insp2_y1"の標準偏差を計算
# std_deviation_x1 = df.groupby(['glass_mb', 'group_id'])['mb_pos_insp2_x1'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
# std_deviation_x2 = df.groupby(['glass_mb', 'group_id'])['mb_pos_insp2_x2'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
# std_deviation_y1 = df.groupby(['glass_mb', 'group_id'])['mb_pos_insp2_y1'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())
# std_deviation_y2 = df.groupby(['glass_mb', 'group_id'])['mb_pos_insp2_y2'].apply(lambda x: x[(x != 0) & (np.abs(x - x.mean()) <= 3 * x.std())].std())

# mean_std_deviation_x1 = std_deviation_x1.groupby('glass_mb').mean()
# mean_std_deviation_x2 = std_deviation_x2.groupby('glass_mb').mean()
# mean_std_deviation_y1 = std_deviation_y1.groupby('glass_mb').mean()
# mean_std_deviation_y2 = std_deviation_y2.groupby('glass_mb').mean()

# df_row_count = df.groupby('glass_mb').size().reset_index(name='row_count')
# df_unique_voyage_count = df.groupby('glass_mb')['voyage_id'].nunique().reset_index(name='unique_voyage_count')

# df_dev = pd.DataFrame({'mean_std_deviation_x1': mean_std_deviation_x1,'mean_std_deviation_x2': mean_std_deviation_x2,'mean_std_deviation_y1': mean_std_deviation_y1,'mean_std_deviation_y2': mean_std_deviation_y2})
# df_dev = pd.merge(df_dev, df_row_count, on='glass_mb')
# df_dev = pd.merge(df_dev, df_unique_voyage_count, on='glass_mb')
# df_dev.reset_index(inplace=True)

# df_dev_all = pd.DataFrame({'std_deviation_x1': std_deviation_x1,'std_deviation_x2': std_deviation_x2,'std_deviation_y1': std_deviation_y1,'std_deviation_y2': std_deviation_y2})

# df_dev_all.to_csv('std_deviation_xy_all.csv')
# df_dev.to_csv('std_deviation_xy.csv')

In [67]:
# import matplotlib.pyplot as plt
import scipy.stats as stats

x1_ranges = df.groupby("glass_mb_tolerance").agg({"x1_tolerance":"first", "x_tolerance_upper":"first"})
x2_ranges = df.groupby("glass_mb_tolerance").agg({"x2_tolerance":"first", "x_tolerance_upper":"first"})
y1_ranges = df.groupby("glass_mb_tolerance").agg({"y1_tolerance":"first", "y_tolerance_upper":"first"})
y2_ranges = df.groupby("glass_mb_tolerance").agg({"y2_tolerance":"first", "y_tolerance_upper":"first"})
y2_ranges.head(30)

                                  y2_tolerance  y_tolerance_upper
glass_mb_tolerance
DA9_TL0_116.3_37.7_65.1_65.1              65.1                1.0
DA9_TL0_41.6_116.3_65.1_65.1              65.1                1.0
DG5_MR306799_10.5_10.5_13.2_13.2          13.2                1.5
EJ2_NHA_10.5_10.8_12.9_6.7                 6.7                1.0
EJ2_NHA_10.8_10.8_12.9_12.9               12.9                1.0
EJ2_TL0_32.4_32.4_26.8_156.8             156.8                1.0
JU20_474W_140.0_89.5_42.0_42.0            42.0                1.5
JU20_474W_42.0_140.0_42.0_42.0            42.0                1.5
JU20_517W_141.1_90.7_47.4_47.4            47.4                1.5
JU20_517W_90.7_141.1_47.4_47.4            47.4                1.5
JU20_517W_90.7_90.7_47.4_47.4             47.4                1.5
T33_BFSB_A_4.9_4.9_3.4_3.4                 3.4                1.5
T33_U3A_9.0_9.0_9.0_9.0                    9.0                1.5
TV40_474W_92.4_92.4_43.9_43.9             43.9                1.5
TV40_517W_6.5_6.5_9.1_9.1                  9.1                1.5
TV40_517W_93.7_93.7_49.4_49.4             49.4                1.5
TV40_NHA_10.5_10.5_13.0_13.0              13.0                1.5
YU20_474W_88.3_88.3_41.9_41.9             41.9                1.5
YU20_517W_89.5_89.5_44.8_44.8             44.8                1.5
ZJ4_517W_7.0_7.0_9.7_9.7                   9.7                1.5

In [68]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# 'model_name_mbrs' の要素数をカウント
model_name_counts = df['glass_mb_tolerance'].value_counts()
model_names = model_name_counts.index

# 'voyage_id'ごとの一意な色を定義
color_palette = plt.cm.get_cmap('tab10')

# データフレームを'voyage_id'でグループ化
grouped_data = df.groupby('voyage_id')

# mirrorbase_in_time列が数値型であることを確認し、必要に応じて変換
# df['mirrorbase_in_time'] = pd.to_numeric(df['mirrorbase_in_time'], errors='coerce')

for model_name in model_names:
    x1_tolerance = x1_ranges.loc[model_name, 'x1_tolerance']
    x2_tolerance = x2_ranges.loc[model_name, 'x2_tolerance']
    y1_tolerance = y1_ranges.loc[model_name, 'y1_tolerance']
    y2_tolerance = y2_ranges.loc[model_name, 'y2_tolerance']
    x_tolerance_upper = x1_ranges.loc[model_name, 'x_tolerance_upper']
    y_tolerance_upper = y1_ranges.loc[model_name, 'y_tolerance_upper']

    filtered_data = df[df['glass_mb_tolerance'] == model_name]
    fig, axes = plt.subplots(4, 1, figsize=(10, 12), sharex=True)

    x = filtered_data['mirrorbase_in_time']
    x1 = filtered_data['mb_pos_insp2_x1']
    x2 = filtered_data['mb_pos_insp2_x2']
    y1 = filtered_data['mb_pos_insp2_y1']
    y2 = filtered_data['mb_pos_insp2_y2']

    # NaNを処理
    filtered_x1 = np.where(x1 != 0, x1, np.nan)
    filtered_x2 = np.where(x2 != 0, x2, np.nan)
    filtered_y1 = np.where(y1 != 0, y1, np.nan)
    filtered_y2 = np.where(y2 != 0, y2, np.nan)

    voyage_id = filtered_data['voyage_id']

    # x1のグラフ
    axes[0].plot(x, filtered_x1, label='mb_pos_insp2_x1')
    axes[0].set_ylabel("mb_pos_insp2_x1")
    axes[0].set_title(f"{model_name}")
    axes[0].set_ylim(x1_tolerance - x_tolerance_upper - 0.5, x1_tolerance + x_tolerance_upper + 0.5)
    axes[0].axhline(y=x1_tolerance - x_tolerance_upper, linestyle='--', color='red')
    axes[0].axhline(y=x1_tolerance + x_tolerance_upper, linestyle='--', color='red')

    # x2のグラフ
    axes[1].plot(x, filtered_x2, label='mb_pos_insp2_x2')
    axes[1].set_ylabel('mb_pos_insp2_x2')
    axes[1].set_ylim(x2_tolerance - x_tolerance_upper - 0.5, x2_tolerance + x_tolerance_upper + 0.5)
    axes[1].axhline(y=x2_tolerance - x_tolerance_upper, linestyle='--', color='red')
    axes[1].axhline(y=x2_tolerance + x_tolerance_upper, linestyle='--', color='red')

    # y1のグラフ
    axes[2].plot(x, filtered_y1, label='mb_pos_insp2_y1')
    axes[2].set_ylabel('mb_pos_insp2_y1')
    axes[2].set_ylim(y1_tolerance - y_tolerance_upper - 0.5, y1_tolerance + y_tolerance_upper + 0.5)
    axes[2].axhline(y=y1_tolerance - y_tolerance_upper, linestyle='--', color='red')
    axes[2].axhline(y=y1_tolerance + y_tolerance_upper, linestyle='--', color='red')

    # y2のグラフ
    axes[3].plot(x, filtered_y2, label='mb_pos_insp2_y2')
    axes[3].set_xlabel('mirrorbase_in_time')
    axes[3].set_ylabel('mb_pos_insp2_y2')
    axes[3].set_ylim(y2_tolerance - y_tolerance_upper - 0.5, y2_tolerance + y_tolerance_upper + 0.5)
    axes[3].axhline(y=y2_tolerance - y_tolerance_upper, linestyle='--', color='red')
    axes[3].axhline(y=y2_tolerance + y_tolerance_upper, linestyle='--', color='red')

    # # voyage_idごとに色を変化させた散布図
    # for voyage in filtered_data['voyage_id'].unique():
    #     voyage_data = filtered_data[filtered_data['voyage_id'] == voyage]
    #     color = color_palette(voyage % 10)
        
    #     axes[0].scatter(voyage_data['mirrorbase_in_time'], voyage_data['mb_pos_insp2_x1'], color=color, s=10)
    #     axes[1].scatter(voyage_data['mirrorbase_in_time'], voyage_data['mb_pos_insp2_x2'], color=color, s=10)
    #     axes[2].scatter(voyage_data['mirrorbase_in_time'], voyage_data['mb_pos_insp2_y1'], color=color, s=10)
    #     axes[3].scatter(voyage_data['mirrorbase_in_time'], voyage_data['mb_pos_insp2_y2'], color=color, s=10)

    x_ticks = axes[3].get_xticks()[::60]
    axes[3].set_xticks(x_ticks)
    x_labels = axes[3].get_xticklabels()
    axes[3].set_xticklabels(x_labels)
    axes[3].tick_params(axis='x', rotation=90)

    plt.tight_layout()

    plt.savefig(f'{model_name}.png')
    plt.close()

C:\Users\yuya.niizuma\AppData\Local\Temp\ipykernel_2100\3207343984.py:10: MatplotlibDeprecationWarning: The get_cmap function was deprecated in Matplotlib 3.7 and will be removed two minor releases later. Use ``matplotlib.colormaps[name]`` or ``matplotlib.colormaps.get_cmap(obj)`` instead.
  color_palette = plt.cm.get_cmap('tab10')